NEXT_PUBLIC_APP_NAME=JTRUMPHQ
NEXT_PUBLIC_APP_URL=https://app.jailtrumphq.com
NEXT_PUBLIC_PHANTOM_APP_ID=jtrumphq
NEXT_PUBLIC_ADMIN_WALLET=66ARrnfF4fCfqxhVcuWDhZwjGY6CpjwBZddZECQXYZzE

DATABASE_URL=postgresql://user:password@host/db?sslmode=require

TELEGRAM_BOT_TOKEN=replace_me
TELEGRAM_CHAT_ID=replace_me

SMTP_HOST=mail.jailtrumphq.com
SMTP_PORT=465
SMTP_USER=hello@jailtrumphq.com
SMTP_PASS=replace_me
EMAIL_FROM=JTRUMP <hello@jailtrumphq.com>
EMAIL_TO=hello@jailtrumphq.com
